<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#1a5fb4">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
  
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="icon" sizes="144x144" href="apple-touch-icon.png">
  
  <!-- Twitter -->
  <meta property="twitter:title" content="Pipewire">
  <meta property="twitter:image" content="https://pipewire.org/assets/card.png" />
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:description" content="Pipewire: Audio and Video on Linux">

  <!-- Open Graph -->
  <meta property="og:title" content="Toolbox">
  <meta property="og:url" content="https://toolbox.io">
  <meta property="og:description" content="Pipewire: Audio and Video on Linux">
  <meta property="og:image" content="https://pipewire.org/assets/card.png">
</head>
